<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles2.css') }}">
    <title>Title</title>
</head>
<body>
<div class="camera-section">
        <img id="videoFeed" src="{{ url_for('video_feed') }}" width="640" height="480" alt="Live Webcam Feed">
    </div>
<div class="container">
    <div class="input-section">
        <form id="addPersonForm" >
            <input type="text" id="name" name="name" placeholder="Enter name...">
            <button id="confirmButton" type="button">Confirm</button>
        </form>
    </div>
    <form id="takePicture"  >
        <div class="camera-section">
        <button id="takePictureButton" type="button">Take Picture</button>
        </div>
    </form>
    <div>
        <p id="pictureCount">Total pictures taken: 0</p>
        <p>(Recommended at least 10 pictures)</p>
    </div>
    <div>
        <button id="back" type="button">return home</button>
    </div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html> 
