<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles1.css') }}">

    <title>Title</title>
</head>
<body>
<div class="container">

    <div class="button-section">
        <div class="button">
            <button id="addPerson">Add Person</button>
            <button id="deletePersonButton">Delete Person</button>
            <button>List of persons</button>
            <button>Log History</button>
        </div>
    </div>
</div>
 <script>
        document.getElementById("addPerson").addEventListener("click", function (){
            window.location.href = "/add_person";
        });
        document.getElementById("deletePersonButton").addEventListener("click", function (){
            window.location.href = "/delete_person";
        });
    </script>
</body>
</html>
